* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #bbc6fa;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.quote-box {
    background: #fff;
    width: 90%; 
    max-width: 700px; 
    padding: 5%; 
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 10px 20px 0px rgba(0, 0, 0, 0.15);
}

.quote-box h2 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
    position: relative;
}

.quote-box h2::after {
    content: '';
    width: 15%;
    height: 3px;
    border-radius: 3px;
    background: rgba(23, 124, 229);
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
}

.quote-box blockquote {
    font-size: 1.5rem;
    min-height: 5rem;
}

.quote-box blockquote::before, 
.quote-box blockquote::after {
    content: '"';
}

.quote-box span {
    display: block;
    margin-top: 1rem;
    font-size: 1rem;
    float: right;
    position: relative;
}

.quote-box span::before {
    content: '';
    width: 2rem;
    height: 2px;
    background: rgba(23, 124, 229);
    position: absolute;
    top: 50%;
    left: -2.5rem;
}

.quote-box div {
    width: 100%;
    margin-top: 2.5rem;
    display: flex;
    flex-wrap: wrap; 
    gap: 1rem;
    justify-content: center;
}

.quote-box button {
    background: rgba(23, 124, 229, 1);
    color: #fff;
    border-radius: 25px;
    border: 1px solid rgba(23, 124, 229, 1);
    width: 100%; 
    max-width: 150px; 
    height: auto; 
    padding: 10px; 
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.quote-box button img {
    width: 1rem; 
    margin-right: 0.5rem;
}

.quote-box button:nth-child(2) {
    background: transparent;
    color: #333;
}
